
.boxes{

    position: relative;
    width:300px;
    height:300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    background: linear-gradient(to right, #00c8ffd3, #92fe9d9a);
    margin:30px;
    

}

.boxes span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
   
}
.boxes span .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}
.boxes span .content h3,p{
    position: relative;
   margin: 10px 10px;
   font: 1rem #fff;
   letter-spacing:.05em;
}
.boxes span .content h3{
position: absolute;
	top: -15px;
	
	font-size: 2rem;
	font-weight: 700;
	color: rgb(222, 224, 228);
	pointer-events: none;
}