*{
margin:0;
padding:0;
}
.containers{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items:center;
    justify-content:center;
    min-height: 100vh;
    flex-direction: column;
    margin-bottom: 0px;
    padding-bottom:100px;
}
#head{
    background: url('./img/floor.jpg');
	background-attachment: fixed;
    background-clip:text;
	-webkit-background-clip:text;
    font-weight: bolder;
    font-size:5em;
	-webkit-text-fill-color:transparent;


    
}
#titles{
    background: linear-gradient(to right, #cde2e7c2, #7ea4af, #656ba7);

    margin:0 0;
    padding:0;
}